@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.pull-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: black;
    border-bottom: solid 3px darkblue;
    z-index: 1;
}

.pull-header:hover > #div-header {
    height: 55px;
}

#div-header {
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: black;
    transition: .5s;
    z-index: 1;
}

#div-header:hover {
    height: 55px;
}

header {
    padding-top: 10px;
}

nav {
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 700px;
}

li {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    color: #fff;
    cursor: pointer;
}

li:hover {
    color: rgb(5, 176, 255);
}