@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('../../midia/background_7.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

nav {
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 700px;
}

li {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    color: #fff;
    cursor: pointer;
}

li:hover {
    color: rgb(5, 176, 255);
}

.intro-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 60px;
}

#idioma-selection {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 30px;
}

.idioma-box-1 {
    width: 500px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: #fff 3px solid;
    border-radius: 8px;
}

.idioma-box-2 {
    width: 470px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: #fff 3px solid;
    border-radius: 8px;
}

.idiomas {
    display: flex;
    flex-direction: row;
    column-gap: 7px;
    cursor: pointer;
}

.idiomas:hover > .idioma {
    color: rgb(5, 176, 255);
}

.idiomas:hover > .flag-idioma {
    border: solid rgb(5, 176, 255) 2px;
    filter: brightness(1.2);
}

.idioma {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 25px;
}

.flag-idioma {
    width: 38px;
    height: auto;
    border: solid #fff 2px;
    border-radius: 50%;
    background-size: cover;
    filter: brightness(1);
}